<h2>Create Site</h2>
<div *ngIf="site != undefined">
{{site.name}}
</div>
<p>
  Draw polygon or marker to define Site Location field.
</p>
<div leaflet style="height: 400px;width:800px"
     leafletDraw
     [leafletOptions]="options"
     [leafletDrawOptions]="drawOptions"
     (leafletDrawCreated)="onDrawCreated($event)"
     (leafletDrawEdited)="onDrawEdited($event)"
     >
</div>

<div class="example-container">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    LOADING
  </div>
      <form [formGroup]="siteForm" (ngSubmit)="onFormSubmit(siteForm.value)">
    <div>
      <span>Select Project</span>
      <select class="form-control" formControlName="project_id" required *ngIf='projects'>
        <option *ngFor="let project of projects" [value]="project.project_id">{{project.project_name}}</option>
      </select>
      <span *ngIf="!sites"><br/>Loading Projects...</span>
    </div>

      <div class="button-row">
        <span>Site Name </span>
        <input  placeholder="Site Name" formControlName="site_name"/>
      </div>
      <div class="button-row">
        <span>Elevation</span>
        <input  placeholder="Site Elevation" formControlName="elevation"/>
      </div>
      <div class="button-row">
        <span>Longitude</span>
        <input  placeholder="Site Longitude" formControlName="longitude"/>
      </div>
      <div class="button-row">
        <span>Latitude</span>
        <input  placeholder="Site Latitude" formControlName="latitude"/>
      </div>
      <div class="button-row">
        <span>Site Location </span>
        <textarea  rows="5" cols="100" placeholder="Site Location" formControlName="geojson"></textarea>
      </div>
      <div class="button-row">
        <button class="button" type="submit"  color="primary">save</button>
      </div>
    </form>
</div>
