<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/site">Create Site</a>
        <a class="nav-item nav-link" routerLink="/sites">List Sites</a>
        <a class="nav-item nav-link" routerLink="/instrument">Create Instrument</a>
        <a class="nav-item nav-link" routerLink="/instruments">List Instruments</a>
        <a class="nav-item nav-link pull-right" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-1">
                <router-outlet></router-outlet>

            </div>
        </div>
    </div>
</div>
