<h2>
  Create Instrument
</h2>
<div class="example-container">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    LOADING
  </div>

    <form [formGroup]="instrumentForm" (ngSubmit)="onFormSubmit(instrumentForm.value)">

      <div class="button-row">
        <span>Instrument Name </span>
        <input  placeholder="instrument Name" formControlName="name"/>
      </div><br/>
      <div>
        <span>Select Site</span>
        <select class="form-control" formControlName="site_uuid" required *ngIf='sites'>
          <option *ngFor="let site of sites" [value]="site.uuid">{{site.value.name}}</option>
        </select>
        <span *ngIf="!sites"><br/>Loading Sites...</span>
      </div>
      <div class="button-row">
        <button class="button" type="submit"  color="primary">save</button>
      </div>
    </form>
</div>
